@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-height: 992px) {
  h1 {
    top: 1%;
  }
}
@media(max-height: 916px) {
  h1 {
    top: 1%;
  }
}
@media(max-height: 100px) {
  h1 {
    top: 1%;
  }
}
@media(max-height: 1px) {
  h1 {
    top: 1%;
  }
}